.header {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    height: 130px;
    justify-content: space-between;
    margin-bottom: 90px;
    padding: 0 32px;
    width: 100vw;
}

.header img {
    cursor: pointer;
}

.user-information {
    align-items: center;
    display: flex;
    gap: 8px;
}

.user-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
}